html,body
{
	height:100%;
}
table
{
	height:86%;
}
td
{
    vertical-align:top;
}
#divWelcome
{
    position:absolute;
    width:99.9%;
	margin-top: 0px;
	height: 60px;
	background: url(../../images/ico/menu_bg.jpg) repeat-x;
	line-height:34px;
    top: 108px;
    left: 1px;
}

#tdControl
{
    vertical-align:middle;
	line-height:20px;
	text-align:center;
	background:#649DBB;
	color:White;
	cursor:pointer;
	height: 100%;
	width:16px;
}

#tdControl *
{
	width:16px;
}
#tdMain,#ifrmRight
{
    padding-top:7px;
	width: 100%;
	height:100%;
}
#tdMenu,#divMenu,#ifrmLeft
{
    padding-top:7px;
    height:100%;
	width: 390px;
}
