<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="102400" maxQueryString="102400"  />
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off" />
        <httpRuntime maxQueryStringLength="10240" maxRequestLength="10240" executionTimeout="3600" />
        <webServices>
            <protocols>
                <add name="HttpSoap" />
                <add name="HttpPost" />
                <add name="HttpGet" />
                <add name="Documentation" />
            </protocols>
        </webServices>
    </system.web>
    <appSettings>
        <add key="LOCAL_Conn" value="Data Source=192.168.0.249/orcl;user=lc;password=111111" />
        <add key="UTCS_Conn" value="Data Source=172.92.1.101/orcl;user=utcs_admin;password=tmri85506695" />
        <add key="LOCAL_Conn_212" value="Data Source=192.168.92.212/orcl;user=hy;password=kfqdd212" />
      <add key="HIK_Conn0249" value="Max Pool Size=1000;Data Source=192.168.92.249/orcl;user=IVMS86X0;password=IVMS86X0" />
    </appSettings>
</configuration>
